<div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Vehículos</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Exportar</button>
              </div>
            </div>
          </div>


          <context-menu #basicMenu>
              <ng-template contextMenuItem (execute)="realizarReserva(myuser.uid,$event.item)">
                Solicitar coche 1
              </ng-template>
            </context-menu>

<ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Solicitar</h5>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <div class="form-inline">
          <div class = "row text-center justify-content-center">
           <div class="col-sm"> 
             <a> Hora de Inicio  </a>
            <ngb-timepicker size="small" name="dBegining" [(ngModel)]="time"  [ngModelOptions]="{standalone: true}" ></ngb-timepicker>
          </div>
          <div class="col-sm"> 
            <a > Hora de Fin </a>
            <ngb-timepicker  size="small" name="dEnd" [(ngModel)]="time2" [ngModelOptions]="{standalone: true}"></ngb-timepicker>
          </div>
          </div>
        </div>
        <br>
        
        <div class="input-group mb-3">
            <button type="button" class="btn btn-outline-primary" (click)="mostrarcoches()"> Mostrar Coches</button>
            <select class="custom-select" id="inputGroupSelect02">
              
              <option  *ngFor="let vehi of operativos" value="vehiculo">{{ vehi.Marca }}</option>

            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="inputGroupSelect02">{{  modalData?.data | date:'d/M/yy'}}</label>
            </div>
    </div>

    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Motivo</span>
        </div>
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="motivo">
      </div>
      <div class="text-center">
          <button type="button" class="btn btn-outline-success" (click)="solicitar();close()">Solicitar</button>
      </div>
     

    </div>
  </ng-template>
  
  <!--<div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Anterior
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate">
          Hoy
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="activeDayIsOpen = false">
          Siguiente
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
   
     
       
  </div>-->
  <br>
  
  <ng-template
  #monthCellTemplate
  let-day="day"
  let-openDay="openDay"
  let-locale="locale"
  let-tooltipPlacement="tooltipPlacement"
  let-highlightDay="highlightDay"
  let-unhighlightDay="unhighlightDay"
  let-eventClicked="eventClicked">

  <div class="fill-height" [contextMenu]="basicMenu" [contextMenuSubject]="day.date">
    <div class="cal-cell-top">
      <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
      <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
    </div>
    <div class="cal-events">
      <div
        class="cal-event"
        *ngFor="let event of day.events"
        [style.backgroundColor]="event.color.primary"
        [ngClass]="event?.cssClass"
        (mouseenter)="highlightDay.emit({event: event})"
        (mouseleave)="unhighlightDay.emit({event: event})"
        [mwlCalendarTooltip]="event.title | calendarEventTitle:'monthTooltip':event"
        [tooltipPlacement]="tooltipPlacement"
        (click)="$event.stopPropagation(); eventClicked.emit({event: event})">
      </div>
    </div>
  </div>
</ng-template>

<ng-template #weekHeaderTemplate let-days="days" let-locale="locale" let-dayHeaderClicked="dayHeaderClicked">
  <div class="cal-day-headers">
    <div
      class="cal-header"
      *ngFor="let day of days"
      [class.cal-past]="day.isPast"
      [class.cal-today]="day.isToday"
      [class.cal-future]="day.isFuture"
      [class.cal-weekend]="day.isWeekend"
      [class.cal-drag-over]="day.dragOver"
      (click)="dayHeaderClicked.emit({day: day})"
      [contextMenu]="basicMenu"
      [contextMenuSubject]="day.date">
      <b>{{ day.date | calendarDate:'weekViewColumnHeader':locale }}</b><br>
      <span>{{ day.date | calendarDate:'weekViewColumnSubHeader':locale }}</span>
    </div>
  </div>
</ng-template>
<mwl-demo-utils-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="'month'"
      [viewDate]="viewDate"
      [events]="events"
      
      [refresh]="refresh"
      [cellTemplate]="monthCellTemplate"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      [weekStartsOn]="weekStartsOn"
      [weekendDays]="weekendDays"
      (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
    <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="0"
    [dayEndHour]="24">
  </mwl-calendar-day-view>
  <mwl-calendar-week-view
  *ngSwitchCase="'week'"
  [viewDate]="viewDate"
  [events]="events">
</mwl-calendar-week-view>
  </div>
        </main>
      </div>
</div>