<div class="container-fluid">
  <div class="row">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Empresas</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
              <button (click)="downloadPdfWithName('ReporteEmpresaNeosistec')" class="btn btn-sm btn-outline-secondary">Exportar</button>
            </div>
            <div class="btn-group mr-2">
                
                <app-create-company></app-create-company>
              </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
              <span data-feather="calendar"></span>
              This week
            </button>
          </div>
        </div>


<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      
      
      <th>Nombre</th>
      <th><i class="fa fa-envelope-o"></i></th>
      <th>Email de facturación</th>
      <th><i class="fa fa-fax"></i></th>
      <th><i class="fa fa-volume-control-phone"></i></th>
      <th>Último Movimiento </th>
      <th>Igualada </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    
   <tr *ngFor="let company of mycompany">
      
      <td>{{ company.name }}</td>
      <td>{{ company.email }}</td>
      <td>{{ company.billMail }}</td>
      <td>{{ company.faxNumber }}</td>
      <td>{{ company.tlf }}</td>
      <td>{{ company.lastmovement}}</td>
      <td >
          <i *ngIf="company.igualada" class="fa fa-check-square"></i>
          <i *ngIf="!company.igualada" class="fa fa-times"></i>
        </td>
        <td><app-confirm-delete [company]="company"></app-confirm-delete>
          <app-modify-company [company]="company"></app-modify-company></td>
    </tr>
  </tbody>
</table>
      </main>
    </div>
</div>
<script>
    function myFunction() {
        document.getElementById("demo").style.color = "red";
    }
   
</script>