<div class="modal-header">
        <h4 class="modal-title"  *ngIf="modelo.email=='Email'">Registrar usuario</h4>
        <h4 class="modal-title"  *ngIf="modelo.email!='Email'">Modificar usuario</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<form (ngSubmit)="onSubmit()">
    <div *ngIf="currentUpload" class=" text-center">
            <div class="progress green">
                <span *ngIf="currentUpload.progress !== 100" class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span *ngIf="currentUpload.progress !== 100" class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value"> <a><img src="{{ currentUpload.url }}" (load)="updateUrl()" name="aboutme" width="140" height="140" border="0" class="rounded-circle"></a>
                  <div class=" col-sm-6">{{ currentUpload.progress }} %</div>
            </div>
        </div>
      </div>
    <div  class=" text-center"> 
     <div class="input-group mb-3">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile02" (change)="detectFiles($event)" >
          <label class="custom-file-label" for="inputGroupFile02">Elegir imagen de perfil</label>
        </div>
        <div class="input-group-append">
            <button (click)="uploadSingle()" class="btn btn-outline-success" type="button">Subir</button>
          </div>
      </div>
    </div>
        <div class="form-group row">
          <label for="example-text-input" class="col-2 col-form-label">Usuario</label>
          <div class="col-10">
            <input class="form-control" type="text" name="nickname" [(ngModel)]="modelo.nickname" >
          </div>
        </div>
        <div *ngIf="modify==false" class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Email</label>
            <div class="col-10">
              <input class="form-control" type="email" name="email_r" autocomplete="off" [(ngModel)]="modelo.email">
            </div>
          </div>
          <div class="form-group row" >
                <label for="example-text-input" class="col-2 col-form-label">Clave</label>
                <div class="col-10" >
                  <input class="form-control" *ngIf="modify==false" type="password" name="password_r" [(ngModel)]="modelo.password">
                  <button  class="btn btn-outline-success right"*ngIf="modify==true" (click)="resetpassword()" >Resetear Contraseña</button>

                </div>
          </div>


      
          <div class="form-group row">
              <label for="exampleTextarea" class="col-2 col-form-label">Nombre completo</label>
              <div class="col-10">
            <input class="form-control" type="text" name="realname" [(ngModel)]="modelo.realname">
            </div>
          </div>
          <div class="form-group row">
                <label for="exampleTextarea" class="col-2 col-form-label">Telefono</label>
                <div class="col-10">
              <input class="form-control" type="text" name="phone" [(ngModel)]="modelo.phone">
              </div>
            </div>
        <button type="submit" class="btn btn-outline-success right" *ngIf="modify==false">Crear</button>
        <button type="submit" class="btn btn-outline-success right"  *ngIf="modify==true">Modificar</button>
        <div  *ngIf="error==true" class="alert alert-primary" role="alert">
            {{ msg }}
           </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    </div>