<div  data-target="navbar" data-offset="0" class="container-fluid">
  <div class="row">
      <main role="main" class="col-md-6 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Herramientas de administración</h1>
          </div>
          <div class="row">
            <div class="col">
              <div class="card">
                <h5 class="card-header text-center">Copia de seguridad</h5>
                <div class="card-body">
                  <h5 class="card-title">Realiza una copia de seguridad cifrada de los datos</h5>
                  <form [formGroup]="form" (submit)="submit(form.value)">
                    <div *ngFor="let b of options.controls; let i=index">
                      <input type="checkbox" [formControl]="b"/>{{back.options[i].name}}
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-outline-info">Generar backup</button>
                    <a *ngIf="this.adminService.downloadJsonHref != null" class="btn btn-outline-success" [href]="this.adminService.downloadJsonHref" download="backup.json" ><i aria-hidden class="fa fa-download" title="descargar"></i><span class="sr-only">descargar</span> </a>
                  </form>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <h5 class="card-header text-center">Importar copia de seguridad</h5>
                <div class="card-body">
                  <h5 class="card-title">Importar un backup cifrado de todo el sistema,partes,usuarios,empresas o tareas.</h5>
                  <div class="input-group">
                    <div class="custom-file">
                      <input type="file" (change)="fileChanged($event)" class="custom-file-input" id="inputGroupFile04">
                      <label class="custom-file-label" for="inputGroupFile04">Elegir backup</label>
                    </div>
                    <div class="input-group-append">
                      <button (click)="uploadDocument(this.file)" class="btn btn-outline-success" type="button">Importar</button>
                    </div>
                  </div>
                  <br>
                  <div *ngIf="this.adminService.importando" class="text-center"><i aria-hidden ="fa fa-refresh fa-spin fa-3x fa-fw" title="cargando"></i><span class="sr-only">cargando</span>
                    <span class="sr-only">Loading...</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      
</div>