<div  data-target="navbar" data-offset="0" class="container-fluid">
  <div class="row">
      <main role="main" class="col-md-6 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">            
              <div ngbDropdown >
              <button ngbDropdownToggle class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <i class="fa fa-calendar"></i>
                Este mes
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" >Esta semana </button>
              </div>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col"> 
                <div class="alert border-secondary mb-3" >
                    <div *ngIf="!frase"><i class="fa fa-circle-o-notch fa-spin justify-content-center align-self-center" style="font-size:100px"></i></div>
                    <div *ngIf="frase | async as f" class="row">
                      <div style="margin-top: auto;margin-bottom: auto;" class="col" ><img width="90px" class="fa-beat mx-auto d-block img-responsive" src="assets/loveneo.png"/></div>
                      <div style="margin-top: auto;margin-bottom: auto;" class="col">
                          <blockquote class="blockquote">
                              <h4 class="mb-0">{{f.frase}}</h4>
                              <footer class="blockquote-footer"><cite title="Source Title">{{f.autor}}</cite></footer>
                            </blockquote>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-header"><i class="fa fa-table"></i> Facturación rápida</div>
                    <ul class="list-group list-group-flush ">
                      <li  class="list-group-item">
                          <span class="pull-left thumb-small m-t-mini align-middle"> 
                            <i class="fa fa-money fa-lg text-default"></i>
                           </span>
                          <div class="media-body" style="margin-left:50px"> 
                           <div  class="pull-right text-primary m-t-small active"> 
                           <button  class="button btn-outline-success"><i class="fa fa-download"></i></button>
                          </div>
                           <div>
                            <a class="h5">Facturación completa</a></div> 
                            <small class="text-muted">Este mes</small> 
                          </div>
                      </li>
                      <li  class="list-group-item">
                          <span class="pull-left thumb-small m-t-mini align-middle"> 
                            <i class="fa fa-clock-o fa-lg text-default"></i>
                           </span>
                          <div class="media-body" style="margin-left:50px"> 
                           <div  class="pull-right text-primary m-t-small active"> 
                           <button  class="button btn-outline-success"><i class="fa fa-download"></i></button>
                          </div>
                           <div>
                            <a class="h5">Facturación de horas</a></div> 
                            <small class="text-muted">Este mes</small> 
                          </div>
                      </li>
                    </ul>
              </div>
            </div>

        </div>
          <hr>
          
          <app-dashboard-mini-widgets></app-dashboard-mini-widgets>
           

         <div class="row">
         <div class="col">
            <div class="card">
            <app-dashboard-statistics [uidUser]="this.uid" [name]="this.name"></app-dashboard-statistics>
          </div>
        </div>
        </div>
        <hr>
        <footer class="footer">
            <div class="text-center">
              <p>&copy; Neosistec 2018 Version 0.1 </p>
           
            </div>
          </footer>
        </main>
        
      </div>
      
</div>