<div *ngIf="!ready"><i aria-hidden ="fa fa-circle-o-notch fa-spin justify-content-center align-self-center" style="font-size:100px" title="cargando"></i> <span class="sr-only">cargando</span></div>
<div *ngIf="ready">
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
</div>

