<div class="container-fluid">
    <div class="row">
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Partes</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button (click)="downloadPdfWithName('ReportePartesNeosistec')" class="btn btn-sm btn-outline-secondary">Exportar</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>


<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
    <thead>
      <tr>
        <th>Operador</th>
        <th>Empresa</th>
        <th>Fecha</th>
        <th>Hora de inicio</th>
        <th><i class="fa fa-clock-o"></i></th>
        <th><i class="fa fa-road"></i></th>
        <th><i class="fa fa-car"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parte of mypartes">
        <td>{{ parte.operator }}</td>
        <td>{{ parte.company }}</td>
        <td>{{ parte.date | date:'fullDate' }}</td>
        <td>{{ parte.dBegining | date:'shortTime' }}</td>
        <td>{{ (parte.dEnd - parte.dBegining) / 3600000}} h</td>
        <td>{{ parte.km }}</td>
        <td >
           
          <i *ngIf="parte.displacement" class="fa fa-check-square"></i>
          <i *ngIf="!parte.displacement" class="fa fa-times"></i>
        </td>
      </tr>
    </tbody>
  </table>
        </main>
      </div>
</div>