<div  class="row">
        <div class="col-md-12">
            <h2 class="text-center text-white mb-4">&nbsp;</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary mb-3" style="opacity:0.8">
                        <div class="card-header">
                          <div id="logo" class="logo text-center">
                              <img width="50px" src="/assets/minineo.png" />
                          </div>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="userForm" class="form" role="form" autocomplete="off" id="formLogin" novalidate="" (ngSubmit)="login()">
                                <div class="form-group">
                                    <label for="uname1">Email</label>
                                    <input type="email" id="email" class="form-control form-control-lg rounded-0" formControlName="email" required >
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" id="password" formControlName="password" required >
                                    <div class="invalid-feedback">Enter your password too!</div>
                                </div>
                                <div class="card-footer bg-transparent">
                                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">Iniciar</button>
                                </div>
                              
                            </form>
                        </div>
                    </div>
                  </div>
            </div>
          </div>
      </div>