<div class="row" style="margin-right:2%;margin-top:1% ">
  <div class="col-md-4 col-md-offset-4"></div>
  <div class="col-md-4 col-md-offset-4"></div>
<div *ngIf="notify.msg | async as msg" class="alert col-md-4 col-md-offset-4 	position:absolute; z-index: 5000;"
  [ngClass]="{ 
    'alert-danger': msg.style == 'error',
    'alert-success': msg.style == 'success',
    'alert-info': msg.style == 'info'
  }">
  <button class="close" (click)="notify.clear()" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span></button>
  {{ msg.content }}
</div>
</div>